* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2 {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background .2s ease;
}

.col h2:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.col button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    transition: background .2s ease;
    border-radius: 7px;
}

.col button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.random-button {
    position: absolute;
    background: rgba(0, 0, 0, 0.2) !important;
}

.random-button:hover {
    background: rgba(0, 0, 0, 0.4) !important;
}

@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .random-button {
        font-size: 1em !important;
        padding: 6px !important;
    }
  }